h2{
    background-color: aqua;
    text-align: center;
    font-size: 40px;
}


*{
    margin:0px;
}


.parent1{
    width:100%;
    height: 250px;
    background-color:gray;
    display: flex;
    justify-content: space-evenly;

}

.child1{
    height: 200px;
    width: 15%;
    background-color: red;
    margin-top: 25px;
}

.parent2{
    padding-top: 25px;
    padding-bottom: 25px;
    width:100%;
    background-color:black;
}

.child2{
    height: 200px;
    width: 20%;
    background-color:gray;
    display:inline-block ;
    margin-left: 50px;
}